.faq-group{
    .section-title{
        text-align: center;
        margin-bottom:50px;
    }
    .legend{
        color: #4a4a4a;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom:10px;
    }
    .item{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        border: 1px solid #e8e8e8;
        background-color: #ffffff;
        margin-bottom:20px;
        .item-title{
            display: flex;
            align-items: center;
            padding:20px;
            position: relative;
            cursor: pointer;
            .item-number{
                width: 29px;
                height: 29px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border:1px solid #172a76;
                color: #172a76;
                font-size: 1.6rem;
                font-weight: 500;
                margin-right: 15px;
            }
            p{
                color: #172a76;
                font-size: 16px;
                font-weight: 500;
                max-width: calc(100% - 90px);
            }
            .item-arrow{
                position: absolute;
                top:50%;
                right:20px;
                transform: translate(0, -50%);
                display: block;
                width: 31px;
                height: 31px;
                border: 1px solid #e8e8e8;
                display: flex;
                align-items: center;
                justify-content: center;
                &:before{
                    content:'';
                    display: block;
                    @include sprite($icon_arrow);
                    transform: rotate(180deg);
                }
            }
            &.active{
                .item-number{
                    background: #172a76;
                    color: #fff;
                }
                .item-arrow{
                    border-color: #ffce00;
                    &:before{
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .item-content{
            padding:20px 65px;
            border-top:1px dashed #e8e8e8;
            display: none;
            p{
                color: #4a4a4a;
                font-size: 1.5rem;
                font-weight: 400;
                a{
                    color: #00944a;
                }
            }
        }
    }
}