.page-news {
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .posts{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 400px);
        margin-right: 40px;
        flex-wrap: wrap;
        .more{
            width: 180px;
            margin:50px auto auto;
            .icon-loader{
                @include sprite($icon_loader);
                margin:0 0 0 10px;
            }
        }
        hr{
            width: 100%;
            height: 1px;
            border: 1px solid #e8e8e8;
            margin:40px 0;
        }
        &.internal{
            .post{
                width: 100%;
                h3{
                    font-size: 4rem;
                }
                p{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .post {
        width: 47%;
        margin-right: 3%;
        &:nth-child(2n+2){
            margin-right: 0;
        }
        .date {
            margin-bottom: 20px;
            display: block;

            b {
                color: #ffce00;
                border-bottom: 2px solid #ffce00;
                padding-bottom: 5px;
                margin-right: 10px;
            }

            color: #2865c2;
            font-size: 1.5rem;
        }

        img{
            margin-bottom:10px;
        }

        h3 {
            color: #124594;
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            color: #4a4a4a;
            font-size: 1.5rem;
            font-weight: 400;
        }

        .more-news{
            color: #00944a;
            font-size: 1.4rem;
            display: block;
            margin:15px 0;
            font-weight: 700;
            &:after{
                content:'';
                display: block;
                width: 30px;
                height: 2px;
                background: #00944a;
                margin-top:5px;
            }
        }
    }
    .sidebar{
        max-width: 400px;
        section{
            border:2px solid #00944a;
            padding:3px;
            margin-bottom:40px;
            .content-widget{
                border:2px solid #ffce00;
                .posts{
                    padding:20px 40px;
                    width: 100%;
                }
                .post{
                    width: 100%;
                    h3{
                        font-size: 1.8rem;
                    }
                    &:last-child{
                        margin-bottom:0;
                    }
                }
            }
        }
        .widget-title{
            color: #ffce00;
            font-size: 2.2rem;
            font-weight: 700;
            padding:20px;
            border-bottom:1px solid #d8d8d8;
            position: relative;
            &:before{
                content:'';
                display: block;
                width: 35%;
                height: 1px;
                background:#ffce00;
                position: absolute;
                bottom:-1px;
                left: 20px;
            }
        }
        .categories{
            ul{
                li{
                    a{
                        display: block;
                        color: #172a76;
                        font-size: 1.4rem;
                        font-weight: 500;
                        letter-spacing: 0.5px;
                        padding:15px 23px;
                        border-bottom: 1px dashed #d8d8d8;
                        &:before{
                            content:'';
                            display: block;
                            width: 4px;
                            height: 4px;
                            background-color: #d8d8d8;
                            float: left;
                            margin:7px 20px 0 0
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(900px){
    .page-news{
        margin-top:60px;
        .posts{
            width: 100%;
        }
        .sidebar{
            max-width: 250px;
        }
    }
}

@include breakpoint(767px){
    .page-news{
        flex-wrap: wrap;
        .posts{
            margin-right: 0;
        }
        .sidebar{
            max-width: 100%;
            section{
                .content-widget{
                    .posts{
                        padding:10px 20px;
                    }
                }
            }
        }
    }
}

@include breakpoint(500px){
    .page-news{
        margin-top: 20px;
        .posts{
            hr{
                display: none;
            }
            .post{
                width: 100%;
                margin-bottom:20px;
                a{
                    display: flex;
                    .header-post{
                        order: 1;
                    }
                    .content-post{
                        order:0;
                        max-width: 250px;
                        margin-right:20px;
                        p{
                            display: none;
                        }
                        .more-news{
                            display: none;
                        }
                    }
                }
            }
            .more{
                margin:10px auto 50px;
            }
            &.internal{
                .post{
                    width: 100%;
                    margin-bottom:20px;
                    margin-right: 0;
                    h3{
                        font-size: 2.8rem;
                    }
                    img{
                        width: 100%;
                    }
                    a{
                        display: flex;
                        .header-post{
                            order: 1;
                        }
                        .content-post{
                            order:0;
                            max-width: 100%;
                            margin-right:0;
                            p{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .sidebar{
            // max-width: 250px;
        }
    }
}