html{
  font-size: 62.5%;
}

body,input,textarea,a,p{
  color: #414141;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.2;
}

.screen-reader{
  display: none;
}

a{
  @include transition(all);
}

.wow{
  visibility: hidden;
  @media (max-width:$width-mobile) {
    visibility: visible !important;
  }
}

@media (max-width:$width-mobile) {
  html{
    font-size: 48%;
  }
}

.container{
  max-width: $container;
  width: 100%;
  padding:0 15px;
  margin:0 auto;
}

.content{
  position: relative;
  z-index: 5;
}

.section-title{
  color: #172a76;
  font-family: "Helvetica Neue";
  font-size: 4rem;
  font-weight: 700;
}

.icon{
  content: '';
  display: block;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  &.btn-default{
    width: 200px;
    height: 60px;
    border-radius: 1px;
    border: 1px solid #00944a;
    background: #ffffff;
    color: #00944a;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &.btn-green{
    width: 280px;
    height: 65px;
    box-shadow: 0 7px 14px rgba(6, 6, 6, 0.19);
    background-image: linear-gradient(to right, #22c238 0%, #00944a 100%);
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 700;
  }
  &.btn-transparent{
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 3.5px;
    text-transform: uppercase;
  }
}

.news{
  width: 100%;
  height: auto;
  .featured-news{
      position: relative;
      a{
        &:before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, rgba(2, 106, 231, 0.02) 0%, #000000 100%);
          position: absolute;
          top:0;
          left:0;
        }
      }
      .caption{
          position: absolute;
          z-index: 1;
          bottom:0;
          padding:30px;
          .date{
              margin-bottom:20px;
              display: block;
              b{
                  color: #ffce00;
                  border-bottom:2px solid #ffce00;
                  padding-bottom:5px;
                  margin-right: 10px;
              }
              color: #ffffff;
              font-family: "Helvetica Neue";
              font-size: 1.5rem;
          }
          p{
              color: #ffffff;
              font-size: 2.6rem;
              font-weight: 700;
          }
      }
  }

  .list-news{
    article{
      margin-bottom:22px;
      a{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      img{
        margin-right: 22px;
        max-width: 270px;
      }
      .content-news{
        .date{
          margin-bottom:20px;
          display: block;
          b{
              color: #ffce00;
              border-bottom:2px solid #ffce00;
              padding-bottom:5px;
              margin-right: 10px;
          }
          color: #2865c2;
          font-size: 1.5rem;
        }
        h3{
          color: #124594;
          font-size: 2rem;
          font-weight: 700;
          margin-bottom:15px;
        }
        p{
          color: #4a4a4a;
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      &:last-child{
        margin-bottom:0;
      }
    }
  }
}

.steps{
  h3{
    text-align: center;
    color: #172a76;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom:50px;
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    li{
      margin-right: 20px;
      width: 20%;
      img{
        margin-bottom:10px;
      }
      p{
        color: #4a4a4a;
        font-size: 1.3rem;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .btn{
    margin:70px auto;
  }
}

.more-separator{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin:70px 0;
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top:50%;
    left: 0;
    transform: translate(0, -50%);
    background: #e8e8e8;
  }
  .btn{
    position: relative;
    z-index: 1;
  }
}

.slope{
  width: 100%;
  height: 420px;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-88deg, #124ea9 0%, #172a76 100%);
  &.left{
    &:before{
      transform: rotate(5deg);
      position: absolute;
      top: -130px;
      z-index: 3;
      left: 0;
    }
    .border{
      &:before{
        content: '';
        display: block;
        width: 110%;
        height: 200px;
        background: #fff;
        transform: rotate(-5deg);
        position: absolute;
        bottom: -130px;
        z-index: 3;
        left: 0;
      }
      .inner{
          &:after, &:before{
              content: '';
              display: block;
              width: 100%;
              height: 200px;
              background: #fff;
              transform: rotate(-5deg);
              position: absolute;
              bottom:0;
              left: 0;
          }
          &:after{
            height: 110px;
            background: #00944a;
            z-index: 2;
            transform: rotate(-4deg);
            width: calc(100% + 50px);
            bottom: -28px;
            left: -10px;
          }
          &:before{
            background: #ffce00;
            z-index: 1;
            margin-left: 0;
            transform: rotate(-3deg);
            height: 93px;
          }
      }
    }
  }
  &.right{
    &:before{
      transform: rotate(-5deg);
      position: absolute;
      top: -130px;
      z-index: 3;
      left: -130px;
    }
    .border{
      &:before{
        content: '';
        display: block;
        width: 110%;
        height: 200px;
        background: #fff;
        transform: rotate(5deg);
        position: absolute;
        bottom: -130px;
        z-index: 3;
        left: -130px;
      }
      .inner{
          &:after, &:before{
              content: '';
              display: block;
              width: 100%;
              height: 200px;
              background: #fff;
              transform: rotate(-5deg);
              position: absolute;
              bottom:0;
              left: 0;
          }
          &:after{
            height: 110px;
            background: #00944a;
            z-index: 2;
            transform: rotate(4deg);
            width: calc(100% + 50px);
            bottom: -28px;
            left: -10px;
          }
          &:before{
            background: #ffce00;
            z-index: 1;
            margin-left: 0;
            transform: rotate(3deg);
            height: 93px;
          }
      }
    }
  }
  &:before{
    content: '';
    display: block;
    width: 110%;
    height: 200px;
    background: #fff;
  }
}

@include breakpoint(900px){
  .slope{
    &:before{
      width: 160%;
    }
    .border{
      &:before{
        width: 160%!important;
      }
    }
    &.book-abrabat{
      height: 370px;
      display: flex;
      align-items: center;
      .description{
        top:0!important;
        padding: 0 20px;
        img{
          margin-right: 20px!important;
          max-width: 90px;
        }
      }
    }
  }
}